.p-youtube .youtubeimg{
    transition: all .5s;
}

.youtubeimg:hover{
    transform: scale(1.09);
    cursor: pointer;
    opacity: 50%;
}

.p-ferrari .ferrarimg {
    transition: all .5s;
    

}

.ferrarimg:hover{
    transform: scale(1.09);
    cursor: pointer;
    opacity: 50%;
}


.p-amazon .amazonimg {
    transition: all .5s;
    

}

.amazonimg:hover{
    transform: scale(1.09);
    cursor: pointer;
    opacity: 50%;
}

.p-anumero .numeroimg {
    transition: all .5s;
    

}

.numeroimg:hover{
    transform: scale(1.09);
    cursor: pointer;
    opacity: 50%;
}


